<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org  ">
<head>
    <meta charset="UTF-8">
    <title>GetService</title>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    />
    <script th:inline="javascript">
        var frontendData = [[${frontendData}]];
    </script>
</head>
<body>

    <div id="app"></div>
<!--<script th:src="{isDevMode} ? 'http://localhost:8000/main.js' : '/js/main.js'"></script>-->
<script src="http://localhost:8000/main.js"></script>
</body>
</html>